/* Estilos generales */
body {
  background-color: #f0f0f0;
  color: #333;
  margin: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  transition: background-color 0.3s, color 0.3s;
}

/* Modo oscuro */
.dark-mode {
  background-color: #333;
  color: #fff;
}
.dark-mode label, .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode p {
  color: #fff;
}

/* Menú de navegación */
#cssmenu {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 0 10px;
  position: relative;
  width: 91%;
  border-radius: 10px;
}
#cssmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  border-color: #bbb;
}
#cssmenu ul li {
  position: relative;
  border-color: #555;
  padding: 0 10px;
}

#cssmenu ul li:not(:last-child) {
  border-right: 1px solid #555; /* Línea divisoria entre botones */
}
#cssmenu ul li a {
  padding: 15px;
  font-size: 10px;
  text-decoration: none;
  color: #ddd;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  border-radius: 5px;
}
#cssmenu ul li a {
  padding: 15px;
  font-size: 10px;
  text-decoration: none;
  color: #ddd;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  border-radius: 5px;
}
#cssmenu ul li:hover > a {
  color: #fff;
}

/* Botón de menú hamburguesa */
#menu-button {
  display: 'Menú';
  font-size: 15px;
}

/* Botón de modo oscuro */
#dark-mode-toggle {
  background: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 20px;
  transition: background-color 0.3s;
}
.dark-mode #dark-mode-toggle {
  background: #fff;
  color: #000;
}

/* Estilos para la apertura del menú hamburguesa */
@media screen and (max-width: 768px) {
  #menu-button {
    display: block;
  }
  #cssmenu ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #333;
    position: relative;
    top: 50px;
    left: 0;
    border-radius: 5px;
  }
  #cssmenu ul.open {
    display: flex;
  }
  #cssmenu ul li {
    width: 100%;
    text-align: center;
  }
}

/* Modo oscuro en el menú */
.dark-mode #cssmenu {
  background: #333;
}
.dark-mode #cssmenu ul li a {
  color: #bbb;
}
.dark-mode #cssmenu ul li:hover > a {
  color: #fff;
}

/* Contenedores 
#oscilloscope-container, .box {
  background-color: #fff;
  transition: background-color 0.5s ease;
}
.dark-mode #oscilloscope-container, .dark-mode .box {
  background-color: #262626;
}*/

/* Botones */
button, input[type="button"] {
  background-color: #eee;
  border: none;
  padding: 0.9rem;
  font-size: 0.9rem;
  width: 8.em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
 }

 
button:hover:not(:disabled) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
 }
 
 button:disabled {
  cursor: auto;
  color: grey;
 }

 /* Botones */
button-dark, input[type="button"] {
  border: none;
  font-size: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.dark-mode button, .dark-mode input[type="button-dark"] {
  background-color: #fff;
  color: #333;
}
.dark-mode button:hover, .dark-mode input[type="button-dark"]:hover {
  background-color: #ccc;
}

/* Checkboxes */
input[type="checkbox"] + label {
  color: #000;
}
.dark-mode input[type="checkbox"] + label {
  color: #fff;
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 18px;
  background-color: #fff;
}
th {
  background-color: #25155aa4;
  color: #fff;
  padding: 8px;
}
td {
  padding: 8px;
  border: 1px solid #fff;
}
tr:nth-child(even) {
  background-color: #fff;
}
tr:hover {
  background-color: #ececec;
}

/* Modo oscuro en tablas */
.dark-mode table {
  background-color: #222;
}
.dark-mode th {
  background-color: #222;
}
.dark-mode td {
  border-color: #222;
}

/* Footer */
div#fixedfooter {
  background-color: #f0f0f0;
  color: #525252;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.dark-mode div#fixedfooter {
  background-color: #222;
  color: #fff;
}

.dark-mode fixedfooter {
  background-color: #222;
  color: #fff;
}

.dark-mode table{
  background-color: #333;
  color: #fff
}
.dark-mode th{
  background-color: #231b3f9c;
  color: #fff
}
.dark-mode td{
  background-color: #333;
  color: #fff
}
.dark-mode tr:nth-child(even) {
  background-color: #333;
}
.dark-mode tr:hover {
  background-color: #555;
}

.select-wrapper {
  width: 370px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 40px;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.hbox {
      float: left;
      padding: 5px;
}

.vbox {
      width: 100%;
      float: left;
      padding: 5px;
}

.box {
     float: left;
     padding: 5px;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: #666666;
  border: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  margin: 4px 2px;
	font-size: 16px;
	cursor: pointer;
}

input[type=text], select {
  width: 100%;
  padding: 3px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif; font-size: 100%; line-height: 32px;
}
